body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif;
    background-color: #333;
}

.navbar {
    visibility: collapse;
}

* {
    margin: 0;
}


#nav {
    float: left;
    height: 100vh;
    width: 100px;
}

ul {
    background-color: rgb(5, 36, 212,0.05);
    list-style-type: none;
    padding: 0;
    min-height: 100%;
    width: 80px;
    position: fixed;
    border-radius: 0px 10px 10px 0px;
}

li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #cc4700;
    padding: 15%;
    text-align: center;
}

.baixo {
    display: flex;
    text-align: center;
    text-decoration: none;
    display: block;
    color: orange;
}


.teste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

li a:hover,
.about:hover {
    background-color: rgb(255, 141, 27);
    color: #333;
    text-decoration: none;
    border-radius: 0px 10px 10px 0px;
}

.cabecalho {
    text-align: center;
}

@media only screen and (max-width:768px) {
    
    #nav {
        display: none;
    }

    .navbar {
        background-color: rgb(5, 36, 212,0.05);
        visibility: visible;
        width: 100%;   
        height: 50px; 
        padding: 0;
        border-radius: 10px 10px 10px 10px;
        text-decoration: none;
        margin-left: 5px;
    }
    .icones .fa-solid{
        margin-right: 20px;
        color: #cc4700; 
    }
    .final a{
        right: 0;
        justify-content: space-between; 
        text-decoration: none;
        color: #cc4700;
    }
    .icones .fa-solid:hover,
    .final a:hover {
        color: #333;
        background-color: #cc4700;
        margin-left: 5px;
        text-decoration: none;
    }
}
