body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif;
}

.navbar {
    visibility: collapse;
}

* {
    margin: 0;
}

#nav {
    float: left;
    height: 100vh;
    width: 100px;
}

ul {
    background-color: #243059;
    list-style-type: none;
    padding: 0;
    min-height: 100%;
    width: 80px;
    position: fixed;
    border-radius: 0px 10px 10px 0px;
}

.lightMode ul {
    background-color: #FCB48D;
    list-style-type: none;
    padding: 0;
    min-height: 100%;
    width: 80px;
    position: fixed;
    border-radius: 0px 10px 10px 0px;
}

li a, #icone-escuro, #icone-claro {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #FFAF85 ;
    padding: 15%;
    text-align: center;
}

.lightMode li a, #icone-claro {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #243059 ;
    padding: 15%;
    text-align: center;
}

.comeco{
    padding-bottom: 25px;
}

.baixo {
    display: flex;
    text-align: center;
    text-decoration: none;
    display: block;
}


.teste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#icone-claro{
    display: none;
}


li a:hover,
.about:hover, #icone-escuro:hover{
    background-color: #FFAF85;
    color: #243059;
    text-decoration: none;
    border-radius: 0px 10px 10px 0px;
}

.lightMode li a:hover,
.about:hover, #icone-claro:hover {
    background-color: #243059;
    color: #FCB48D;
    text-decoration: none;
    border-radius: 0px 10px 10px 0px;
}

.cabecalho {
    text-align: center;
    padding: 5px;
}


/*Configurações do dropup*/


.dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #4B5884;
    min-width: 180px;
    bottom: 35px;
    right: 0.1px;
    z-index: 1;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .dropup-content i {
    font-size: 16px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .lightMode .dropup-content {
    background-color: hsl(21, 100%, 90%);
  }
  
  .ativo{
    display: block;
  }
  
  


@media only screen and (max-width:768px) {
    
    #nav {
        display: none;
    }

    .navbar {
        background-color: #243059;
        visibility: visible;
       
    }

    .lightMode .navbar{
        background-color: #FCB48D;
        
    }

    .icones .fa-solid{
        margin-right: 20px;
        color:#FFAF85;
        padding-bottom: 0px;
    }

    .lightMode .icones .fa-solid{
        color:#243059;
    }

    .icones .fa-solid:hover {
        text-decoration: none;
        opacity: 85%;
    }

    .final .fa-solid{
        text-decoration: none;
        color: #FFAF85;
    }

    .lightMode .final .fa-solid{
        text-decoration: none;
        color: #243059;
    }



    .final .fa-solid:hover{
        text-decoration: none;
        opacity: 85%;
    }

    #icone-claro-inferior{
        display: block;
    }

    #icone-escuro-inferior{
        
        display: none;
    }
}
