body,h1,h2,h3,h4,h5,h6 {
    font-family: "Karma", sans-serif
}


.navbar{
  visibility: collapse;
}



* {
  margin: 0;
}
ul {
  height: 100%;
  width: 102px;
  background-color:rgb(5, 36, 212);
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  li a {
    text-decoration: none;
    display: block;
    width: 60px;
    color:orange;
    padding: 25%;
  }
.about{
  display: flex;
  text-align: center;
  
}
.teste{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#nav {
  float: left;
}
li a:hover {
  background-color: orange;
  color:rgb(5, 36, 212);
}

* {
  margin: 0;
}
  
ul {
  height: 100%;
  width: 100px;
  background-color: rgb(5, 36, 212);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
li a {
  text-decoration: none;
  display: block;
  width: 60px;
  color: orange;
  padding: 20%;
}
  
.about {
  display: flex;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 60px;
  color: orange;
  padding: 20%;
  
}
  
.teste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
#nav {
  float: left;
}
  
li a:hover,.about:hover {
  background-color: orange;
  color: rgb(5, 36, 212);
}

@media only screen and (max-width:689px) {
  #nav{
    display: none;
  }

  .navbar{
    visibility: visible;
    width: 280px;
    border-radius: 50%;
  }
}