body,h1,h2,h3,h4,h5,h6 {
    font-family: "Karma", sans-serif;
    background-color: rgb(47, 109, 56);
}

.navbar{
  visibility: collapse;
}

* {
  margin: 0;
}

#nav {
    float: left;
    height: 100%;
    width: 100px;
  }

ul {
  background-color: rgb(5, 36, 212);
  list-style-type: none;
  padding: 0;
  min-height: 100%;
  width: 100px;
  position: absolute ;
}
  
li a {
  text-decoration: none;
  display: block;
  width: 60px;
  color: orange;
  padding: 20%;
  text-align: center;
}
  
.baixo {
  display: flex;
  text-align: center;
  text-decoration: none;
  display: block;
  color: orange;
}
  
.teste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
  
li a:hover,.about:hover {
  background-color: rgb(255, 141, 27);
  color: rgb(5, 36, 212);
}

.cabecalho{
    border-bottom: 2px solid rgb(255, 161, 20) ;
    text-align: center;
    padding: 5px;

    background-color: white;
}
@media only screen and (max-width:689px) {
  #nav{
    display: none;
  }

  .navbar{
    visibility: visible;
    width: 280px;
    border-radius: 50%;
  }
}