body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif;
    background-color:#445AA8 ;
}


/* interação com Javascript */

.lightMode{
    background-color:  #DF7942 ;
}

.lightMode .cabecalho{
    background-color: #DF7942;
}

.lightMode ul{
    background-color:hsl(21, 100%, 40%, 0.1);

}

.lightMode li a, .lightMode #icone-claro {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #455280 ;
    padding: 15%;
    text-align: center;
}

.lightMode li a:hover,
.about:hover, #icone-claro:hover{
    background-color: #455280;
    color: #eeee;
    text-decoration: none;
    border-radius: 0px 10px 10px 0px;
}
/* Fim da interação */

/*Cabeçalho */
.cabecalho .cadastro{
    width: 100px;
    height: 50px;
    font-size: medium;
    text-align: center;
    float: right;
    margin: 20px;
    background-color:#DF7942;
    color: #445AA8;
    border-radius: 20px;
}

.cabecalho:hover .cadastro:hover,
.cabecalho a:hover{
    background-color: #FCA77A;
    color:#243059;
    text-decoration: none;
}
/*Fim do Cabeçalho */

/*Card 1 */
.card {
    margin: 30px;
    margin-left: 7%;
    background-color: rgb(255, 255, 255,0.5);
    height: 700px;
    border-radius: 20px;
    max-width: 1500px;
}

.card h1 {
    text-align: center;
    border-bottom: #333;
    font-size: 32px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255,0.7);
}

.card img {
    height: 200px;
    width: 200px;
    align-self: center;
    border-radius: 100px;
}

.card p {
    font-size: 18px;
    text-align: justify;
    text-align: center;
}
/*Fim do Card 1 */

/*Carrosel */
.carousel.slide {
    max-width: 2000px;
    align-content: center;
    margin-left: 80px;
    margin-top: 50px;
}

.carousel-inner {
    height: 500px;
    display: inline-block;
    max-width: 2000px;
    align-content: center;
}
/*Fim do Carrosel */

/*Card 2 */
.card-2{
    margin: 30px;
    margin-left: 7%;
    background-color: rgb(255, 255, 255,0.5);
    height: 800px;
    border-radius: 20px;
    border: 2px solid orange;
    max-width: 1500px;
}
.card-2 img{
    float: left;
    height: 200px;
    width: 200px;
    margin: 100px;
    border-radius: 100px;
    border: 2px solid black;
    overflow: hidden;
}
.card-2 h2{
    padding-top: 100px;
    background-color: rgb(255, 255, 255,0.0);
}

.card-2 p{
    padding-top: 20px;
}
/*Fim do Card 2 */

/*Footer */
footer{
    background-color: rgb(50, 50, 50);
    color: white;
    margin-left: 80px;
    margin-bottom: -20px;
}

footer h2{
    padding: 0px 0px 20px 20px;
    background-color: rgb(50, 50, 50);
    margin: 0;
}

footer p{
    font-size: 22px;
}

footer .fa-instagram{
    margin: 10px 10px 10px 30%;
}

footer i p{
    font-size: 20px;
}

footer .fa-brands{
    margin-top: 25px;
    margin-right: 15px;
    
}

/*Fim do footer */

/*Resposividade */
@media only screen and (max-width:768px) {
    .card{
        width: 100%;
        margin-left: 0;
    }

    .card-2{
        width: 100%;
        height: 1600px;
        margin-left: 0;
        border: none;
    }

    .card-2 h2{
        padding-left: 10px;
        color: green;
    }

    .card-2 p{
        padding-left: 20px;
    }

    .card-2 .fac-2{
        padding-top: 200px;
    }

    .card-2 .fac-3{
        padding-top: 200px;
        padding-bottom: 20px;
    }

    .carousel.slide {
        height: auto;
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }  
    
    .carousel-inner {
        height: auto;
        width: 100%;
        margin-left: 0px;
    }

    footer{
        margin-left: 0px;
        margin-bottom: -20px;
    }

    footer .ultimo{
        padding-bottom: 15px;
    }
}

@media only screen and (max-width:576px){
    .card-2{
        height: 2000px;
    }
}
