body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Karma", sans-serif;
    background-color: #333;
}

.card {
    margin: 30px;
    margin-left: 7%;
    background-color: white;
    height: 700px;
    border-radius: 20px;
}
.card h1{
    text-align: center;
    background-color: white;
    border-bottom: #333;
    font-size: 32px;
    padding-bottom: 15px;
    border-radius: 20px;
}
.card img{
    height: 200px;
    width: 200px;
    align-self: center;
    border-radius: 100px;
}
.card p{
    font-size: 18px;
    text-align: justify;
    text-align: center;
}
.carousel-inner{
    height: 500px;
    display: inline-block;
    max-width: 1500px;
    align-content: center;
    margin-left: 30px;
}

.carousel.slide{
    max-width: 1500px;
    align-content: center;
    margin-left: 115px;
    margin-top: 50px;
}
