/*ESTILIZAÇÃO DA PÁGINA*/

body{
    background: radial-gradient(circle at 1629px, #445AA8, #445AA8 70%, #333 30%) ;
    
}


/*Controla ao proporções da imagem*/
img{
    width: 250px;
    height: 89px;
}

/*Ajusta a posiçao do texto*/
#materia{
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
    font-size: 250%;
    margin-bottom: 40px;;
    color: aliceblue;
}

/*Ajuste dos ELementos dos cards*/
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5%;
}

.flex-container p{
    font-size: 26px;
}

/*Interação dos cards com o mouse*/
.card:hover{
    opacity: 0.6;
    cursor: pointer;
}

.card {
    margin-top: 15px;
    width: 15%;
}
.card-deck{
    column-gap: 5%;
}




.card-link{
    font-size: 100px;
}
/*Interação de mudança de tema*/


.lightMode{
    background: radial-gradient(circle at 1629px, #FCA77A, #FCA77A 70%, #eeee 30%) ;
    
}



/*RESPONSIVIDADE*/

/*Se a tela for menor que 1629 pixels*/
@media (max-width: 1629px) {
    .flex-container {
      flex-direction: column;
    }
    
  }

  @media (max-width:1392px){
    .card-link{
        font-size: 80px;
    }
    .card {
        margin-top: 15px;
        width: 22.75%;
    }

    .card-deck{
        column-gap: 3%;
    }    
  }

/*Se a tela for menor que 768 pixels*/
@media screen and (max-width: 768px) {
    .card {
        width:30%;
    }

    .card-deck{
        column-gap: 5%;
    }

    body{
        background: radial-gradient(circle at center top, #445AA8, #445AA8 30%, #333 30%) ;
        
    }

    .lightMode{
        background: radial-gradient(circle at center top, #FCA77A, #FCA77A 40%, #eeee 30%) ;
        
    }

    .card-link{
        font-size: 80px;
    }
    .alinhamentok {
        margin-left: 35%; 
        margin-right: 22%;
    }
}

/*Se a tela for menor que 576 pixels*/
@media screen and (max-width: 576px) {
    .card {
        width: 47.5%;
    }

    .card-deck{
        column-gap: 5%;
    }

    .card-link{
        font-size: 80px;
    }

    .alinhamentok {
        margin: 15px 0 0 0;
    }

    body{
        background: linear-gradient(to bottom,#445AA8 15%, #333 15%);
        
    }

    /*Interação de mudança de tema*/
    .lightMode{
        background: linear-gradient(to bottom, #FCA77A, #FCA77A 15%, #eeee 15%) ;
        
    }

}


